<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - My Financial Outlook</title>
	<script type="importmap"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

	<link href="~/css/bootstrap-theme.css" rel="stylesheet" />

	<link rel="stylesheet" href="~/DebtSnowballApp.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.bootstrap5.css" />
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.1.2/css/buttons.bootstrap5.min.css" />

</head>
<body style="background-color: aliceblue">
	<header style="background-image: url('@Url.Content("~/images/header.png")'); background-size: cover; background-position: center; height: 110px;">
		@using Microsoft.AspNetCore.Identity
		@using Microsoft.AspNetCore.Authorization
		@inject SignInManager<ApplicationUser> SignInManager
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white box-shadow mb-3 bg-transparent">
			<div class="container-fluid">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="/images/logo-transparent-white.png" alt="My Financial Outlook" style="height: 100px;" />
				</a>
				<ul class="navbar-nav d-none d-sm-flex ms-auto">
@* 					<li class="nav-item">
						<a class="nav-link text-white fw-bold" style="transition: color 0.3s;" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
					</li>
					@if (SignInManager.IsSignedIn(User))
					{
						<li class="nav-item">
							<a class="nav-link text-white fw-bold" asp-area="" asp-controller="DebtItems" asp-action="Index">Debts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-white fw-bold" asp-controller="Snowball" asp-action="Index">Payoff</a>
						</li>
					}
					<li class="nav-item">
						<a class="nav-link text-white fw-bold" asp-area="" asp-controller="QuickAnalysis" asp-action="Index">Quick Analysis</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
					</li> *@
				</ul>
				<partial name="_LoginPartial" />
			</div>
		</nav>
	</header>
@* 	<div id="menuStripe" class="@menuStripeClasses" style="background-color: #2C6680; height: 40px;">
 *@		<div class="menuStripe text-center py-2" style="background-color: #36476b; height:30px">
@* 		<div class="container-fluid px-0 h-100 d-sm-none">
 *@	
 <div class="d-flex h-100 text-white small text-center" style="font-size:14px;">
			<a class="flex-fill d-flex align-items-center justify-content-center text-white fw-bold text-decoration-none border-end border-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
			@if (SignInManager.IsSignedIn(User))
			{
				<a class="flex-fill d-flex align-items-center justify-content-center text-white fw-bold text-decoration-none border-end border-white" asp-area="" asp-controller="DebtItems" asp-action="Index">Debts</a>
				<a class="flex-fill d-flex align-items-center justify-content-center text-white fw-bold text-decoration-none border-end border-white" asp-area="" asp-controller="Snowball" asp-action="Index">Payoff</a>
                <a class="flex-fill d-flex align-items-center justify-content-center text-white fw-bold text-decoration-none border-end border-white" asp-area="" asp-controller="QaDebtItems" asp-action="Index">Quick Analysis</a>
            }
			else
			{
				<a class="flex-fill d-flex align-items-center justify-content-center text-white fw-bold text-decoration-none border-end border-white" asp-area="" asp-controller="QuickAnalysis" asp-action="Step1Personal">Quick Analysis</a>

			}
			<a class="flex-fill d-flex align-items-center justify-content-center text-white fw-bold text-decoration-none" asp-controller="Home" asp-area="" asp-action="Privacy">Privacy</a>
		</div>

	</div>
	<div class="w-100" style="background: linear-gradient(to bottom, #fff, #f26722);">
		<div class="container-fluid">
			<main role="main" class="pb-3">
				@RenderBody()
			</main>
		</div>
	</div>

	<footer class="footer text-muted" style="background-color: #36476b; height:75px">
		<div class="container text-white ">
			&copy; 2025 - My Financial Outook - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
